<template>
  <div>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>
    <div class="row">
      <div class="col-xl-12 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div
                  class="
                    text-xs
                    font-weight-bold
                    text-success text-uppercase
                    mb-1
                  "
                >
                  <h2 class="h1 font-weight-bold">
                    SISTEM INFORMASI TUBERKULOSIS
                  </h2>
                </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
              </div>
              <div class="col-auto">
                <h1 class="font-weight-bolder text-danger"></h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-5">
        <div class="card shadow mb-4">
          <div class="card-body">
            <LineChart />
          </div>
        </div>
      </div>

      <div class="col-xl-6 col-lg-5">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
              Populasi Sentiment
            </h6>
          </div>
          <div class="card-body">
            <PieChart />
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div
                  class="
                    text-xs
                    font-weight-bold
                    text-success text-uppercase
                    mb-1
                  "
                >
                  SENTIMEN POSITIF
                </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">
                  {{ sentiment.positive }}
                </div>
              </div>
              <div class="col-auto">
                <i class="fa fa-plus fa-3x" style="color: green"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-6 col-md-6 mb-4">
        <div class="card border-left-secondary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div
                  class="
                    text-xs
                    font-weight-bold
                    text-danger text-uppercase
                    mb-1
                  "
                >
                  SENTIMEN NEGATIF
                </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">
                  {{ sentiment.negative }}
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-minus fa-3x" style="color: red"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-md-4 mb-4">
        <Card
          :title="'Total Tweets'"
          :counter="totalTweet"
          :icon="'fab fa-twitter fa-2x'"
          :style="'color:blue'"
        />
      </div>

      <div class="col-xl-4 col-md-4 mb-4">
        <Card
          :title="'Total User'"
          :counter="totalUser"
          :icon="'fa fa-users fa-2x'"
          :style="'color:grey'"
        />
      </div>

      <div class="col-xl-4 col-md-4 mb-4">
        <Card
          :title="'Total Reach'"
          :counter="totalReach"
          :icon="'fa fa-users fa-2x'"
          :style="'color:grey'"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
              Tweet terbaru <i class="fab fa-twitter"></i>
            </h6>
          </div>
          <div class="card-body">
            <ul class="list-group">
              <a
                href="#"
                class="
                  list-group-item list-group-item-action
                  flex-column
                  align-items-start
                "
                v-for="tweet in latestTweets"
                :key="tweet.id"
              >
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">
                    <img
                      :src="tweet.user_avatar_url"
                      class="rounded"
                      alt="..."
                      style="height: 25px; border-radius: 1.34rem !important"
                    />

                    {{ tweet.user_screen_name }}
                  </h5>
                  <!-- <small>3 days ago</small> -->
                </div>
                <small>{{ tweet.tweet_text }}</small>
              </a>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Top Lokasi Tweet</h6>
          </div>
          <div class="card-body">
            <ul class="list-group">
              <div
                class="
                  list-group-item
                  d-flex
                  justify-content-between
                  align-items-center
                "
                v-for="location in topLocation"
                :key="location.places"
              >
                <span
                  ><strong>{{ location.places }}</strong></span
                >
                &nbsp; &nbsp; &nbsp; &nbsp;
                <span class="badge badge-primary badge-pill">{{
                  location.total
                }}</span>
              </div>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
              Top User <i class="fa fa-users"></i>
            </h6>
          </div>
          <div class="card-body">
            <ul class="list-group">
              <a
                href="#"
                class="
                  list-group-item list-group-item-action
                  flex-column
                  align-items-start
                "
                v-for="user in topUser"
                :key="user.id"
              >
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">
                    <img
                      :src="user.user_avatar_url"
                      class="rounded"
                      alt="..."
                      style="height: 25px; border-radius: 1.34rem !important"
                    />

                    {{ user.user_screen_name }}
                  </h5>
                  <small>{{ user.total }}</small>
                </div>
              </a>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
              Populasi Sentiment
            </h6>
          </div>
          <div class="card-body">
            <PieChart />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import LineChart from "@/components/chart/LineChart.vue";
import PieChart from "@/components/chart/PieChart.vue";
import Card from "@/components/Card.vue";

export default {
  components: {
    LineChart,
    PieChart,
    Card,
  },
  data() {
    return {
      datacollection: null,
      totalUser: 0,
      totalTweet: 0,
      totalReach: 0,
      latestTweets: [],
      topLocation: [],
      topUser: [],
      sentiment: {
        positive: 0,
        negative: 0,
      },
      channel: {
        whatsapp: 0,
        email: 0,
        telegram: 0,
        voice: 0,
      },
    };
  },
  created() {
    this.getSentiment();
    this.getLatestTweet();
    this.getLocation();
    this.getTotalUser();
    this.getTotalTweet();
    this.getTotalReach();
    this.getTopUser();
  },
  mounted() {
    this.getSentiment();
  },
  methods: {
    getSentiment() {
      var config = {
        method: "GET",
        url: "http://localhost/api-gw/public/tweet/sentiment-group",
      };
      this.axios(config)
        .then((response) => {
          response.data.data.forEach((e) => {
            if (e.sentiment_analysis === "POSITIVE") {
              this.sentiment.positive = e.total;
            } else if (e.sentiment_analysis === "NEGATIVE") {
              this.sentiment.negative = e.total;
            }
          });
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    getTopUser() {
      var config = {
        method: "GET",
        url: "http://localhost/api-gw/public/tweet/top-user",
      };
      this.axios(config)
        .then((response) => {
          this.topUser = response.data.data;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    getLatestTweet() {
      var config = {
        method: "GET",
        url: "http://localhost/api-gw/public/tweet/latest",
      };
      this.axios(config)
        .then((response) => {
          this.latestTweets = response.data.data;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    getTotalReach() {
      var config = {
        method: "GET",
        url: "http://localhost/api-gw/public/tweet/total-reach",
      };
      this.axios(config)
        .then((response) => {
          this.totalReach = response.data.data;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    getLocation() {
      var config = {
        method: "GET",
        url: "http://localhost/api-gw/public/tweet/location?limit=5",
      };
      this.axios(config)
        .then((response) => {
          this.topLocation = response.data.data;
        })
        .catch(function (error) {
          console.log(error);
        });
    },

    getTotalUser() {
      var config = {
        method: "GET",
        url: "http://localhost/api-gw/public/total-user",
      };
      this.axios(config)
        .then((response) => {
          this.totalUser = response.data.data;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    getTotalTweet() {
      var config = {
        method: "GET",
        url: "http://localhost/api-gw/public/tweet/total",
      };
      this.axios(config)
        .then((response) => {
          this.totalTweet = response.data.data;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
  },
};
</script>

<style>
.fa-whatsapp:before,
.fa-phone-square:before {
  color: #1cc88a;
}

.fa-telegram-plane::before {
  color: #0088cc;
}
</style>